  <!DOCTYPE html>
  <html>
  <head>
    <title>Gal*2-Tower-Defence</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="node_modules/angular/angular.min.js"></script>
  </head>
  <body ng-app="towerdef" ng-controller="MainCtrl">

  <audio controls autoplay loop ng-show="false">
  <source src="http://66.90.94.162/ost/happy-mario-20th-super-mario-sound-collection/ecbhpqsthy/01-overworld-bgm.mp3" type="audio/mpeg">
</audio>

<audio id="audio" src="http://themushroomkingdom.net/sounds/wav/smb/smb_bump.wav" type="audio/mpeg"></audio>

    <div class="master text-center">

      <div class="inMaster">
        <h1> Gal*2 Tower Defence </h1>
         <div class="col-xl-10 gameScreen">
          <div class="gameStart">
            <button class="btn btn-success" ng-click="startGame()" ng-show="startSee"> START GAME</button>
          </div>
          <div ng-show="show0" class="wave">
            <button class="btn waveBtn" ng-click="init()"> Wave Start Round - {{round}} </button>
          </div>

          <div ng-show="show0" class="infoBar">
           <h5> {{ hp }}HP </h5> <h6> Money: ${{ money }} </h6>
           <button class="btn btn-primary" ng-click="shop()">SHOP ITEMS</button>
           <h4> Click-Power: {{playerPower}} </h4>
          </div>

          <div ng-show="shopSee" class="theShop">
            <div class="shopItems text-center">
              <h6 class="shopTitle"> The Shop! </h6>
              <h4> Double Archer </h4> <button ng-show="show1" ng-click="wep1()" class="btn btn-warning"> $350 </button>
              <h4> Triple Archer  </h4> <button ng-show="show2" ng-click="wep2()" class="btn btn-warning"> $2500 </button>
              <h4> Machine-Gun  </h4> <button ng-show="show3" ng-click="wep3()" class="btn btn-warning"> $7000 </button>
              <h4> Dragon  </h4> <button ng-show="show4" ng-click="wep4()" class="btn btn-warning"> $123,456 </button>
            </div>
          </div>

          <div class="monsterGo">

          </div>

          <div class="moneyBox" ng-show="boxIt">
            <button class="btn btn-warning" ng-click="moneyBox()"> Money Box </button>
          </div>

          <div class="mainTower">
          </div>
            <div class="archer">
            </div>

            <div class="attacker" ng-repeat="attacker in attackers track by $index">
              <div id="soldier" ng-click="kill($index)" ng-style="{'margin-right': attacker[$index].style['margin-right'], 'margin-top': attacker[$index].style['margin-top']}">
                <img ng-src={{attacker[$index].img}}>
              </div>
            </div>


         </div>
         <div class="bottomScreen">
          <h2> Made by Gal & Gal co </h2>
         </div>
      </div>
    </div>
  <script src="app.js"></script>
  <!-- <script src="beers.js"></script> -->
  <script src="service.js"></script>
  <script src="controller.js"></script>
  </body>
  </html>